<script setup>
import { loadFull } from "tsparticles";
import particlesOptions from "./assets/particlesjs-config.json"

const particlesInit = async (engine) => {
    await loadFull(engine);
}

const particlesLoaded = async (container) => {
    console.log("Particles container loaded", container);
}
</script>
<template>
    <div id="app">
        <Particles
                id="tsparticles"
                :particlesInit="particlesInit"
                :particlesLoaded="particlesLoaded"
                :options="particlesOptions"
        />
    </div>
</template>